<%= form_for([@post,@post.comments.build]) do |f| %>

<div align="center" class="form-group">
  <%= f.label :author %>
  <%= f.text_field :author %>
</div>

<div class="form-group">
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>

<div class="form-group">
  <%= f.submit class: "btn btn-success btn-md"%>
</div>
<% end %>
