<%= form_for([@post,@post.comments.build]) do |f| %>

<div align="center" class="form-group">
  <!-- <div class="control-label col-sm-2"> -->
    <%= f.label :author %>
  <!-- </div> -->
  <!-- <div class="col-sm-8"> -->
    <%= f.text_field :author %>
  <!-- </div> -->
</div>


<div class="form-group">
  <!-- <div class="control-label col-sm-2"> -->
  <%= f.label :body %>
  <!-- </div> -->
  <!-- <div class="col-sm-8"> -->
    <%= f.text_area :body %>
  <!-- </div> -->
</div>

<div class="form-group">
  <!-- <div class="col-sm-10 col-sm-offset-2"> -->
  <%= f.submit %>
  <!-- </div> -->
</div>
<% end %>
