<%= form_for @post do |f| %>


  <div align="center" class="form-group">
    <%= f.label :image, "Image:" %>
    <%= f.file_field :image %>
  </div>

  <div align="center" class="form-group">
    <%= f.label :caption, 'Caption:' %> <br />
    <%= f.text_field :caption, placeholder: 'Description' %>
  </div>

  <div>
    <%= f.submit(@post.new_record? ? "Share Donut" : "Update Donut", class: "btn btn-primary") %>
  </div>
<% end %>
