
<div class="all-posts">
  <div>
    <%= image_tag(@post.image(:medium)) %>
  </div>
  <div>
    <h4><%= @post.caption %></h4>
  </div>
  <a class=" btn btn-xs btn-warning" <%= link_to "Edit", edit_post_path %> </a>
  <a class="btn btn-xs btn-danger" <%= link_to "Delete", post_path(@post.id), method: :delete, data: {confirm: "Are you sure?"} %> </p>


<h2> Comments</h2>
<%= render @post.comments %>
<%= render 'comments/form' %>

</div>
